body{
    background-color: black;
}
h1{
    color:rgb(122, 114, 114)
}
button{
    background-color: rgb(95, 75, 75);
    color: white;
}
input{
    background-color:rgb(95, 75, 75) ;
    color: white;
}
pre{
    text-align: center;
}