body{
    background-color:#007FFF;
    display:flex;
    justify-content:center;
    align-items:center;
}
h1{
    color:black;
}
button{
    background-color: rgb(95, 75, 75);
    color: white;
div {
    display:flex;
    justify-content:center;
    align-items:center;
}
